apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.appName }}
  labels:
    {{- include "common.labels" . | nindent 4 }}
  annotations:
    reloader.stakater.com/auto: "true"
spec:
  revisionHistoryLimit: {{ .Values.revisionHistoryLimit | default 1 }}
  {{- if not .Values.autoscaling.enabled }}
  {{- if hasKey .Values "replicaCount" }}
  replicas: {{ .Values.replicaCount }}
  {{- else }}
  replicas: 1
  {{- end }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "common.selectorLabels" . | nindent 6 }}
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  template:
    metadata:
      labels:
        {{- include "common.selectorLabels" . | nindent 8 }}
      {{- if .Values.podAnnotations }}
      annotations:
        {{- range $key, $value := .Values.podAnnotations }}
        {{ $key }}: {{ $value | quote }}
        {{- end }}
      {{- end }}
    spec:
      serviceAccountName: {{ .Values.appName }}
      {{- with .Values.podSecurityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- if .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml .Values.nodeSelector | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- if .Values.envVars }}
      volumes:
        - name: secrets-store
          csi:
            driver: secrets-store.csi.k8s.io
            readOnly: true
            volumeAttributes:
              secretProviderClass: aws-secrets
      {{- end }}
      containers:
        - name: {{ .Values.appName }}
          {{- with .Values.securityContext }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          image: {{ include "common.image" . }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: {{ .Values.service.targetPort }}
              protocol: TCP
          {{- if .Values.envVars }}
          volumeMounts:
            - name: secrets-store
              mountPath: "/mnt/secrets-store"
              readOnly: true
          env:
{{- include "common.envVars" . | nindent 12 }}
          {{- else if and .Values.jvmConfig .Values.jvmConfig.enabled }}
          env:
            - name: JVM_MAX_RAM_PERCENTAGE
              valueFrom:
                configMapKeyRef:
                  name: {{ include "common.fullname" . }}
                  key: JVM_MAX_RAM_PERCENTAGE
            - name: JVM_MAX_GC_PAUSE_MS
              valueFrom:
                configMapKeyRef:
                  name: {{ include "common.fullname" . }}
                  key: JVM_MAX_GC_PAUSE_MS
            {{- if .Values.jvmConfig.additionalOpts }}
            - name: JAVA_OPTS
              valueFrom:
                configMapKeyRef:
                  name: {{ include "common.fullname" . }}
                  key: JAVA_OPTS
            {{- end }}
          {{- end }}
{{- if .Values.probes }}
{{- include "common.probes" . | nindent 10 }}
{{- end }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
