{{- if .Values.envVars }}
apiVersion: secrets-store.csi.x-k8s.io/v1
kind: SecretProviderClass
metadata:
  name: aws-secrets
  labels:
    {{- include "common.labels" . | nindent 4 }}
spec:
  provider: aws
  parameters:
    objects: |
        - objectName: "developers/{{ .Values.appName }}"
          objectType: "secretsmanager"
          jmesPath:
{{- include "common.jmesPath" . | nindent 12 }}
  secretObjects:
    - secretName: app-config
      type: Opaque
      data:
{{- include "common.secretsObjects" . | nindent 8 }}
{{- end }}

